*.dbf
*.prj
*.shp
*.shx
starter_vs_yield_2019.Rmd
*.oldcomments.R
*.pdf
.DS_Store
linktoSMSData
.Rhistory
strips_expt_hist_HarrysN78.png
strips_expt_hist_HomeN50.png
strips_expt_hist_KidsN80.png
strips_expt_ims_HarrysN78.png
strips_expt_ims_HomeN50.png
strips_expt_ims_KidsN80.png
